
.icons {
  max-height: 14px;
}

/*ul.oneline li{
  width: auto;
  display: inline-block;
}
*/
.list-inline {
  display: inline-block;
}
.brand-links a{
  color: white;
  }

.inline {
  display:inline-block;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;

}

.padding {
  padding: 40px;

}

.login {
    background: url("/static/img/blog 2048274-93649-vector-silhouette-of-the-cock-on-white-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;
}

.login-pg-text {
  border-style: solid;
  border-color: white;
  background-color: white;
  opacity: .8;
  color: blue;
  font-size: 150%;
  padding: 10px;
  
}

.login-pg-registration-text {
  background-color: #99CCFF;
  opacity: .8;
  color: black;
  padding: 10px;
  max-width: 300px;
  max-height: 250px;
  border: 2px solid;
  border-radius: 15px;
}

ul#preferences {
  list-style-type: none;
}

ul#flash {
  list-style-type: none;
  max-width: 80%;
  text-align: center;
  }