
.icons {
  max-height: 14px;
}

/*ul.oneline li{
  width: auto;
  display: inline-block;
}
*/
.list-inline {
  display: inline-block;
}
.brand-links a{
  color: white;
  }

.inline {
  display:inline-block;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;

}

.padding {
  padding: 40px;

}

.center {
  text-align: center;
}
.login {
  background: url("/static/img/chicken_mountain_large.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-pg-text {
  border-style: solid;
  border-color: white;
  background-color: white;
  opacity: .8;
  color: blue;
  font-size: 150%;
  padding: 10px;
}

.login-pg-registration-text {
  background-color: white;
  opacity: .7;
  color: black;
  padding: 10px;
  max-width: 300px;
  max-height: 250px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

#brand-image {
  max-height: 200px;
  display: inline-block;
}