<!DOCTYPE html>
<html>
<head>
	<title>PoultryWatch</title>
<!-- This is link to CSS -->
<link rel="stylesheet" type="text/css" href="styles.css">
<!-- this is link to bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!-- This is link to jquery -->
<script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
	<h1>PoultryWatch</h1>
	{% blockcontent %}
	stuff goes here
	{% endblock %}

	<!-- this is link to bootstrap -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>