<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Chicken Watch</title>

	<!-- This is link to bootstrap-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	 
	<!-- This is link to jquery -->
	<script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
	<h1>Chicken Watch</h1>
	{% block content %}
	stuff goes here
	{% endblock %}
	{{ stuff }}


	<!-- this is link to bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>