<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Poultry Watch</title>

	<!-- This is link to bootstrap-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	 
	<!-- This is link to jquery -->
	<script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>
	{% if session %}
	<form action="/user_profile/<user_id>.html" method="GET">
	<input type="submit" class="btn btn-primary btn-sm" value="Your Account">
	</form>
	{% endif %}

	{% if session %}
	<form action="/" method="GET">
	<input type="submit" class="btn btn-primary btn-sm" value="Log Out">
	</form>
	
	{% endif %}
    <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message | safe }}</li>
        {% endfor %}
    </ul>

	<h1>Poultry Watch</h1>
	{% block content %}
	stuff goes here
	{% endblock %}
	


	<!-- this is link to bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>