{% extends 'base.html' %}
{% block content %}

<h1>{{ brand.brand_name }}</h1>
	{% if brand.parent_company %}
	<h3>Parent company: {{ brand.parent_company }}</h3>
	{% endif %}

	<li><a href="{{ brand.brand_website }}"><span class="glyphicon glyphicon-home">{{ brand.brand_name}}</span></a></li>
	{% if brand.brand_facebook %}
	<li><a href="{{ brand.brand_facebook }}"><img src="static/img/facebook.svg"></a></li>
	{% endif %}
	<li><a href="{{ brand.brand_youtube }}"><img src="static/img/youtube.svg"</a></li>

	<li><a href="{{ brand.brand_instagram }}"><img src="static/img/instagram.svg"></a></li>
	<li><a href="{{ brand.brand_twitter }}"></a></li>

	{% if brand.brand_pintrest %}
	<li><a href="{{ brand.brand_pintrest }}"><img src="static/img/pintrest.svg"></a></li>
	{% endif %}

	{% if brand.brand_google_plus %}
	<li><a href="{{ brand.brand_google_plus }}"><img src="static/img/google_plus.svg"></a></li>
	{% endif %}

</ul>
<form action="/product_approval" method="GET">

<br>
<label>Did you purchase this product?</label><br>
<input type="submit" name="yes" value="Yes">
<input type="submit" name="no" value="No">
<br>
</form>


{% if brand.brand_conventional %}
<h2> Conventional </h2>
<h3>{{ conventional_farm_info[0] }}</h3><br/><br/>
<p>{{ conventional_farm_info[1] }}</p>
<p>{{ conventional_farm_info[2] }}</p>
<p>{{ conventional_farm_info[3] }}</p>
<p>{{ conventional_farm_info[4] }}</p>
<p>{{ conventional_farm_info[5] }}</p>
<p>{{ conventional_farm_info[6] }}</p>
<p>{{ conventional_farm_info[7] }}</p>
{% endif %}

{% if brand.brand_organic %}
<h2>Organic</h2>
{{ organic_farm_info }}
{% endif %}

{% if brand.brand_free_range %}
<h2>Free Range</h2>

{{ poultry_farming_wiki_all }}
{% endif %}


{% if brand.brand_pastured %}
<h2>Pastured</h2>

{% endif %}


{% endblock %}