{% extends 'base.html' %}
{% block content %}

<h1>This is the brand detail page</h1>
<!-- <!- add relevant info -->
{{ brand_name }}

<form action="/purchase_made_y_n" method="GET">

<br>
<label>Did you purchase this product?</label><br>
<input type="submit" id="yes1" value="yes2"name="yes3">
<input type="submit" id="no1" value="no2" name="no3">
<br>
</form>


{% if brand.conventional %}

<ul>
<li><img src="http://localhost:5000/img/commerical_broiler_op1.jpg"></li>
<li><img src="/img/commerical_broiler_day1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_0.jpg"></li>
<li><img src="/img/commerical_broiler_wk_1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_3.jpg"></li>
<li><img src="/img/commerical_broiler_wk_4.jpg"></li>
<li><img src="/img/commerical_broiler_wk_6.jpg"></li>
</ul>

<p><img src="/img/greenbar.jpg">High biosecurity, low infectious disease and mortality rates</p>

{% endif %}


{% if brand.organic %}

<ul>
<li><img src="http://localhost:5000//img/commerical_broiler_op1.jpg"></li>
<li><img src="/img/commerical_broiler_day1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_0.jpg"></li>
<li><img src="/img/commerical_broiler_wk_1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_3.jpg"></li>
<li><img src="/img/commerical_broiler_wk_4.jpg"></li>
<li><img src="/img/commerical_broiler_wk_6.jpg"></li>
</ul>

<p><img src="/img/greenbar.jpg">High biosecurity, medium infectious disease and mortality rates</p>

{% if brand.free_range %}
<ul>
<li><img src="http://localhost:5000/img/commerical_broiler_op1.jpg"></li>
<li><img src="/img/commerical_broiler_day1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_0.jpg"></li>
<li><img src="/img/commerical_broiler_wk_1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_3.jpg"></li>
<li><img src="/img/commerical_broiler_wk_4.jpg"></li>
<li><img src="/img/commerical_broiler_wk_6.jpg"></li>
</ul>

<p><img src="/img/greenbar.jpg">High biosecurity, low infectious disease and mortality rates</p>



{% endif %}

{% if brand.pastured %}
<ul>
<li><img src="http://localhost:5000/img/commerical_broiler_op1.jpg"></li>
<li><img src="/img/commerical_broiler_day1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_0.jpg"></li>
<li><img src="/img/commerical_broiler_wk_1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_3.jpg"></li>
<li><img src="/img/commerical_broiler_wk_4.jpg"></li>
<li><img src="/img/commerical_broiler_wk_6.jpg"></li>
</ul>

<p><img src="/img/greenbar.jpg">High biosecurity, low infectious disease and mortality rates</p>


{% endif %}

{% endblock %}