{% extends 'base.html' %}
{% block content %}

<h1>This is the brand detail page</h1>
<!-- <!- add relevant info -->
<ul>
	<li>{{ brand.brand_name }}</li>
	{% if brand.parent_company %}
	<li>{{ brand.parent_company }}</li>
	{% endif %}

	<li><a href="{{ brand.brand_website }}">{{ brand.brand_website }}</a></li>
	<li>{{ brand.brand_youtube }}</li>
	<li>{{ brand.brand_instagram }}</li>
	<li>{{ brand.brand_twitter }}</li>

	{% if brand.brand_pintrest %}
	<li>{{ brand.brand_pintrest }}</li>
	{% endif %}

	{% if brand.brand_google_plus %}
	<li>{{ brand.brand_google_plus }}</li>
	{% endif %}

</ul>
<form action="/product_approval" method="GET">

<br>
<label>Did you purchase this product?</label><br>
<input type="submit" name="yes" value="Yes">
<input type="submit" name="no" value="No">
<br>
</form>


{% if brand.brand_conventional %}
<h2> Conventional </h2>

{% endif %}
{% if brand.brand_organic %}
<h2>Organic</h2>
{% endif %}

{% if brand.brand_free_range %}
<h2>Free Range</h2>


{% endif %}


{% if brand.brand_pastured %}
<h2>Pastured</h2>

{% endif %}


{% endblock %}