{% extends 'base.html' %}
{% block content %}

<h1>Free Range Chicken Farming</h1>

<!-- relative vs html path -->
<ul>
<li><img src="http://localhost:5000/img/commerical_broiler_op1.jpg"></li>
<li><img src="/img/commerical_broiler_day1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_0.jpg"></li>
<li><img src="/img/commerical_broiler_wk_1.jpg"></li>
<li><img src="/img/commerical_broiler_wk_3.jpg"></li>
<li><img src="/img/commerical_broiler_wk_4.jpg"></li>
<li><img src="/img/commerical_broiler_wk_6.jpg"></li>
</ul>

<p><img src="/img/greenbar.jpg">High biosecurity, low infectious disease and mortality rates</p>

{% endblock %}