{% extends 'base.html' %}
{% block content %}

<!-- body tags with ng-controller listed in base -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
			<!-- Sidebar content -->

			Search: <input ng-model="query">

		</div>
		<div class="col-md-10"></div>
		<!-- Body content -->

			<ul class="chickenProducts">
				<li ng-repeat="chickenItem in chickenProducts | filter:query">
				<!-- can also do <div ng-repear="(key, value) in myObj">....</div> this does not define the order of keys returned for an object https://docs.angularjs.org/api/ng/directive/ngRepeat-->

				</li>
			</ul>
		</div>
	</div>

{% endblock %}
