{% extends 'base.html' %}
{% block content %}
<body class="login">
<div class="container-fluid">

	<div class="row padding">

		<div class="col-md-4">	
	
		<p class="login-pg-text">A communication platform between consumers, their local Walmart, and farms.<br/><br/>
		We help grocery and farms understand the consumers they provide for.</p>
		</div>
		<div class="col-md-4">
		</div>
		
		<div class="col-md-4 login-pg-registration-text">
		<form action="/login" method="POST">
			<div class="form-group">
			<label>Sign in</label><br>
			</div>
			<div class="form-group">
			<label>Email</label><br>
			<input type="text" name="email"><br>
			</div>
			<div class="form-group">
			<label>Password</label><br>
			<input type="password" name="password"><br>
			</div>
			<input	type="submit" name="Sign in"><br>

		</form>


		<form action="/register" method="GET">
			<div class="form-group"
		    <br>
		    <input type="submit" class="btn btn-primary btn-lg" value="Register as a new user">
		    </div>
		</form>
		<br>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}
