{% extends 'base.html' %}
{% block content %}
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul class="nav nav-pills list-inline">
					<li>
						<a href="{{ url_for('go_to_search') }}" class="active">Poultry Watch</a>
					</li>
					<li>
						<a href="{{ url_for('go_to_dashboard') }}" class="active">Dashboard</a>
					</li>

					{% if 'user_id' in session %}
					<li class="dropdown">
						<a class="droptown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">			
							<li style="text-align:center">
								<form action="/user_profile/{{session.get('user_id')}}"  method="GET">
									<input type="submit" class="btn btn-primary btn-sm" value="Your Account">
								</form>
							</li>
							<li style="text-align:center">
								<form action="/logout" method="GET">
									<input type="submit" class="btn btn-primary btn-sm" value="Log Out">
								</form>
							</li>
						</ul>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>

<div class="filter-by">
	<!-- Filter by organic or non organic -->
</div>

<div class="center">
	<form action="/getresults" method="get">
			<input type="text" name="search" class="typeahead" id="search-box" placeholder="chicken thighs">
			<button class="btn" type="submit">Find Item!</button>
	</form>
</div>

<div class="recommended-for-you">

	<div class="food-items">
	<!-- List of recommended food items based on recommendation algorithm -->
	</div>
	<div class="poultry-farms">
	<!-- List of recommended farms based on recommendation algorithm -->
	</div>

</div>

{% endblock %}
