{% extends 'base.html' %}
{% block content %}
<div class="recommended-for-you">
<div class="food-items">
<!-- List of recommended food items based on recommendation algorithm -->
</div>
<div class="poultry-farms">
</div>
</div>
<div class="col-md-6">
	<form action="/getresults" method="get">
	<label>
	<h4>Search for the Walmart poultry product that you are interested in:</h4>
	<div class="filter-by">
	<!-- Filter by organic or non organic -->
	</div>
	</label>
			<input type="text" name="search">
			<input type="submit">
		</form>
	</div>
</div>

{% endblock %}
