{% extends 'base.html' %}
{% block content %}

<h1>This is the registration page</h1>

<form action="/submitregistrationtodb" method="POST">

<label>Register</label><br>
	<label>First Name</label><br>
	<input type="text" name="firstname"><br>
	<label>Email</label><br>
	<input type="text" name="email"><br>
	<label>Password</label><br>
	<input type="text" name="password"><br>
	<label>Gender? <span>(optional)</span></label><br>
	<input type="checkbox" name="gender" value="female">Female 	
	<input type="checkbox" name="gender" value="male">Male <br>

</form>

{% endblock %}
