{% extends 'base.html' %}
{% block content %}



<h1>Tell us about your values</h1>
<form action="/add_preferences/{{ session['user_id'] }}" method="POST">
{% for question in preferences_question_list %}
<div>{{ question[1] }}</div>
	<table><tbody>
		<tr>
			<td><input type="radio" name="{{ question[0] }}" value="1" />1 - Strongly Agree</td>
			<td><input type="radio" name="{{ question[0] }}" value="2" />2</td>
			<td><input type="radio" name="{{ question[0] }}" value="3" />3</td>
			<td><input type="radio" name="{{ question[0] }}" value="4" />4</td>
			<td><input type="radio" name="{{ question[0] }}" value="5" />5 - Strongly Disagree</td>
		</tr>	</tbody></table>

{% endfor %}

	<input type="submit" value="Add Your Preferences">
</form>
</div>
<br>

{% endblock %}