{% extends 'base.html' %}
{% block content %}

<h1>Welcome, {{ user.name }}</h1>

<h4>Your preferences:</h2>

<!-- pretty representation of their preferences -->

<ul id="preferences">What are your preferences for:
	<div class="col-md-3">
	<li>Halal{{ user.halal }}</li>
	</div>
	
	<div class="col-md-3">
	<li>Free Range{{ user.free_range }}</li>
	</div>

	<div class="col-md-3">
	<li>Slow Growth{{ user.slow_growth }}</li>
	</div>
	<div class="col-md-3">
	<li>Pastured{{ user.pastured }}</li>
	</div>
	<div class="col-md-3">
	<li>Non-GMO{{ user.non_gmo }}</li>
	</div>
	<div class="col-md-3">
	<li>Antibiotics{{ user.antibiotics }}</li>
	</div>
	<div class="col-md-3">
	<li>Organic{{ user.organic_100 }}</li>
	</div>
	<div class="col-md-3">
	<li>Organic 95{{ user.organic_95 }}</li>
	</div>
	<div class="col-md-3">
	<li>Price{{ user.price }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 1{{ user.preference1 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 2{{ user.preference2 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 3{{ user.preference3 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 4{{ user.preference4 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 5{{ user.preference5 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 6{{ user.preference6 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 7{{ user.preference7 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 8{{ user.preference8 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 9{{ user.preference9 }}</li>
	</div>
	<div class="col-md-3">
	<li>Preference 10{{ user.preference10 }}</li>
	</div>
</ul>



<canvas id="myChart" width="750" height="auto"></canvas>

<script>
	var ctx = document.getElementById("myChart").getContext("2d");

	var data = {{ data | tojson | safe }};
	var myNewChart = new Chart(ctx).Bar(data);
</script>



{% endblock %}
