{% extends 'base.html' %}
{% block content %}

<h1>Welcome, {{ user.name }}</h1>

<h4>Your preferences:</h2>

<!-- pretty representation of their preferences -->

<ul>What are your preferences for:
	<li><div>Halal</div>{{ user.halal }}</li>
	<li><div>Free Range</div>{{ user.free_range }}</li>
	<li><div>Slow Growth</div>{{ user.slow_growth }}</li>
	<li><div>Pastured</div>{{ user.pastured }}</li>
	<li><div>Non-GMO</div>{{ user.non_gmo }}</li>
	<li><div>Antibiotics</div>{{ user.antibiotics }}</li>
	<li><div>Organic</div>{{ user.organic_100 }}</li>
	<li><div>Organic 95</div>{{ user.organic_95 }}</li>
	<li><div>Price</div>{{ user.price }}</li>
	<li><div>Preference 1</div>{{ user.preference1 }}</li>
	<li><div>Preference 2</div>{{ user.preference2 }}</li>
	<li><div>Preference 3</div>{{ user.preference3 }}</li>
	<li><div>Preference 4</div>{{ user.preference4 }}</li>
	<li><div>Preference 5</div>{{ user.preference5 }}</li>
	<li><div>Preference 6</div>{{ user.preference6 }}</li>
	<li><div>Preference 7</div>{{ user.preference7 }}</li>
	<li><div>Preference 8</div>{{ user.preference8 }}</li>
	<li><div>Preference 9</div>{{ user.preference9 }}</li>
	<li><div>Preference 10</div>{{ user.preference10 }}</li>
</ul>



<canvas id="myChart" width="750" height="auto"></canvas>

<script>
	var ctx = document.getElementById("myChart").getContext("2d");

	var data = {{ data | tojson | safe }};
	var myNewChart = new Chart(ctx).Bar(data);
</script>



{% endblock %}
